@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
body{
  font-size: 24px;
  background-image: url(../img/background.jpg);
  background-size: cover;
  cursor: url('../img/cursor.png'), default;
}
.wrapper{
  width: 1300px;
  margin: 0 auto;
}
header{
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 23px;
  text-align: center;
  margin-top: 40px;
}
.logo{
  width: 50%;
}
nav a{
  color: white;
  margin-left: 29px;
  text-decoration: none;
}
nav a:hover{
  color: #5a0212;
}
footer{
  color: white;
  text-align: center;
}
.img1{
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
} 
.img2{
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
}
.img1 p{
  background-color: white;
}
.img2 p{
  background-color: white;
}
